html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.app {
  min-height: 100vh;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 36px;
  letter-spacing: 2px;
}

.counter {
  margin: 30px 0;
  font-size: 56px;
}

.buttons {
  text-align: center;
}

.increment-btn,
.decrement-btn {
  width: 200px;
  height: 50px;
  margin: 10px;
  border: 0;
  border-radius: 999px;
  background-color: black;
  font-size: 20px;
  letter-spacing: 2px;
  color: white;
  cursor: pointer;
}
